.VSRPurchasePage {
    position: relative;
    text-align: center;
    max-width: 453px;
    margin: 7rem auto;
}

.VSRPurchasePage_Header {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 10px;
}

.VSRPurchasePage_Info {
    color: #9E9356;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 17px;
}

.VSRPurchasePage_Form_Element {
    text-align: start;
    position: relative;
}

.VSRPurchasePage_Form_Element label {
    margin-left: 9px;
}

.VSRPurchasePage_Form input {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid #BEBEBE;
    border-radius: 50px;
    padding: 15px 25px;
    outline: none;
    margin-top: 9px;
}

.VSRPurchasePage_Form_Btn {
    width: 100%;
    padding: 19px 0;
    margin-top: 21px;
    border: none;
    border-radius: 50px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 16px;
}

.VSRPurchasePage_Form_Btn:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}

.VSRPurchasePage_Form_Btn > a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #9E9356;
    position: absolute;
    right: 0;
}

.VSRPurchasePage_Form_Element_Error {
    color: red;
    position: absolute;
    font-size: 14px;
}