.ClearSeat {
    margin-bottom: 21px;
    position: relative;
}

.ClearSeat_Form {
    display: flex;
    justify-content: start;
    align-items: center;
}

.ClearSeat input {
    width: 332px;
    height: 34px;
    border-radius: 50px;
    margin-right: 10px;
}

.Btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 16px;
}

.Btn:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}

.Email_Error {
    color: red;
    position: absolute;
    font-size: 14px;
    top: 39px
}