.FirstTimeAppearanceComponent {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.FirstTimeAppearanceComponent input {
    /*max-width: 200px;*/
    height: 48px;
    width: 51%;
}

.FirstTimeAppearanceComponent button {
    width: 130px;
    font-size: 14px;
    box-sizing: border-box;
}

.Btn {
    width: 100%;
    padding: 19px 0;
    margin-top: 19px;
    border: none;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 18px;
}

.Btn:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}