.SeatsTable {}

.SeatsTable_Header p{
    margin-top: 0;
    margin-bottom: 17px;
}

.SeatsTable_Table {
    padding: 0;
    border-spacing: 0;
}

.Btn {
    padding: 11px;
    margin-top: 19px;
    border: none;
    border-radius: 50px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 16px;
}

.Btn:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}