.SeatsTable {}

.SeatsTable_Header {
    display: flex;
    align-items: baseline;
    margin-bottom: 11px;
}

.SeatsTable_Header_Config {
    margin-left: 17px;
}

.Btn {
    padding: 11px;
    margin-top: 19px;
    border: none;
    border-radius: 50px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 16px;
}

.Btn:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}

.SeatsTable table {
    width: 100%;
}