.Container {
  max-width: 1280px;
  /*width: 100%;*/
  /*width: calc(100% - 1rem);*/
  margin: 25px auto 50px auto;
  padding: 50px;
}

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #0f0f0f;
}