@font-face {
  font-family: 'AvenirNext', Sans-serif;
  src: url('./assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'AvenirNext', Sans-serif;
  src: url('./assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'AvenirNext', Sans-serif;
  src: url('./assets/fonts/AvenirNextLTPro-It.otf') format('opentype');
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'AvenirNext',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
