.AccountPage {
    margin-top: 17px;
    text-align: start;
}

.AccountPage_Header {}



.AccountPage_Data {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.AccountPage_Settings {}

.AccountPage_Settings_Header {
    font-size: 20px;
    font-weight: normal;
}

.AccountPage_ManageSection {
    width: 49%;
}

.AccountPage_ManageSection_header {
    font-size: 20px;
    font-weight: normal;
}

.Btn {
    width: 100%;
    padding: 19px 0;
    margin-top: 19px;
    border: none;
    border-radius: 50px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 18px;
}

.Btn:hover {
    cursor: pointer;
    background-color: #3b3b3b;
}

.NotFirstTime_Buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.NotFirstTime_Buttons button {
    width: 150px;
    font-size: 16px;
}